.resourceGallerySection {
    /* szín */
    color: #fff;

    /* szegély */

    /* full screen */
    min-width: 100vw;
    min-height: 100vh;

    /* egyedi a komponensre */
    display: flex;
    overflow: auto;
    pointer-events: auto;
}

.resourceGalleryContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.categoryBrowser {
    width: 10em;
    top: 25%;
    position: fixed;
    width: 12em;
    height: 50vh;
    overflow-x: scroll;
}

.resourcePreview {
    flex: 1;
}

.title {
    text-align: center;
}
