<p class="mofo-qaa-p">{{formName}}</p>
<div>
    <form [formGroup]="moForm" (ngSubmit)="onSubmit()">
        <label class="mofo-qaa-label">
            <p class="mofo-qaa-p">What is your favourite color?</p>
            <input type="text" formControlName="qcolor" required>
        </label>
        <br>
        <label class="mofo-qaa-label">
            <p class="mofo-qaa-p">What is your favourite country you ever visited?</p>
            <input type="text" formControlName="qcountry" required>
        </label>
        <br>
        <label class="mofo-qaa-label">
            <p class="mofo-qaa-p">How many electronic devices you connect to the internet</p>
            <input type="number" formControlName="qelectronic" required>
        </label>
        <br>
        <div>
            <br>
            <button class="mofo-qaa-button" type="submit" [disabled]="!moForm.valid || submited">
                <label class="mofo-qaa-label">Submit</label>
            </button>
        </div>
    </form>
</div>